<header>
   <!-- page header -->
   <ul>
      <% if(locals.user) { %>
         <li>
         <h1>  <a href="/users/profile/<%= user.id %>"><%= user.name %></a></h1>
         </li>
         <li>
         <h1>  <a href="/users/sign-out">Sign out</a></h1>
         </li>
      <% } else { %>
         <li>
          <h1>  <a href="/users/sign_in">Sign in</a> </h1>
         </li>
         <li>
         <h1><a href="/users/sign_up">Sign up</a></h1>
         </li>
      <% } %>
   </ul>
</header>
