     <h1>codeial / <%= title %> </h1>
      <section id="feed-posts">

        <h2>Post</h2>

        <% if(locals.user) { %>

        <form action="/posts/create" id="new-post-form" method="POST">

            <textarea name="content" cols="30" rows="3" placeholder=" Type your post here ! " required></textarea >
 
            <input type="submit" value="Post">

        </form>

        <% } %>

        <div>

            <ul>

               

                <% for(post of posts) { %>
 
                    <%- include('_post') -%> 

                 <% } %>




            </ul>





        </div>

   </section>

    <section id="user-friends">
        <h3> Friends: </h3>

        <% for(u of all_users) { %>

        <p>
            <a style="margin-left: 20px;" href="/users/profile/<%= u.id %>"><%=u.name %></a>



        </p>



        <% } %>
             


    </section>


