

<link rel="stylesheet" href="/css/user_profile.css">
    <h1>codeial  social media profile page</h1>


  
   <h1> <p> <%= user_profile.name %></p></h1>
   <h1> <p> <%= user_profile.email %></p></h1>


  

  





   
`